{% extends 'blog/base.html' %}

{% block content %}
    <h1 style="text-align:center;margin-top:10px;margin-bottom:20px;">Dashboard</h1>
    {% for post in post_list %}
    <div class="col-md-8 col-md-offset-2">
      <div class="thumbnail">
       <div class="caption">
 	<h2><a href="{% url 'post_detail' pk=post.pk %}">{{post}}</a></h2>
	<h6>By {{ post.author }}</h6>
	<div class="date">
	  <small><p>published: {{post.published_date}}</p></small>
	</div>
	<p class="post-text">{{post.text|linebreaks}}</p>
        <p>
	  <div class="comment-count"><a href="{% url 'blog.views.post_detail' pk=post.pk%}" style="float:right;">Comments: {{ post.approved_comments.count }}</a></div>
	</p>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock%}
