.page-header {
    background-color: #0a0808;
    margin-top: 0;
    padding: 10px 10px 10px 20px;
    position: fixed;
    width:100%;
    z-index:2;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;
}

.content {
    margin-left: 20px;
}

h1,h2,h3,h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26 pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 10px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.row {
    margin-top: 100px;
}

.col-md-8 col-md-offset-6 {
   /* position:relative;*/
}

.col-md-8 {
    /*position:absolute;*/
    z-index:1;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.post-text {
    font-size: 20px;
}